<div class="container">
"<h2>Choose Your Role</h2>
<div class="d-flex flex-column">
    {{#each roles}}
        <a href="{{this.url}}" class="btn btn-primary my-2">{{this.label}}</a>
    {{/each}}
</div>
</div>
