<!-- findu.handlebars -->

<div class="container mt-5 find-users-container">
    <h2>Find Users</h2>
    <input type="text" id="search-input" class="form-control" placeholder="Search by username or full name">
    <ul id="search-results" class="list-group mt-3" style="display: none;"></ul>
</div>
