<div class="container-fluid mt-5 home">

    <a href="/training" class="btn btn-success mb-3 btn-tr">Add Training</a>
    <a href="/records" class="btn btn-success mb-3 btn-tr">Records</a>
    <a href="/find-users" class="btn btn-success mb-3 btn-tr">Find Users</a>
    <!--<a href="/AI_successions" class="btn btn-success mb-3 btn-tr">AI successions</a>
-->
</div>
