<div class="container-fluid mt-5 home">
    <div class="btn-container">
        <a href="/training" class="btn btn-success mb-3 btn-tr">Add Training
            <div class="btn-description">Add a new training session to your plan.</div>
        </a>

    </div>

    <div class="btn-container">
        <a href="/records" class="btn btn-success mb-3 btn-tr">Records
            <div class="btn-description">View your personal training records.</div>
        </a>

    </div>

    <div class="btn-container">
        <a href="/find-users" class="btn btn-success mb-3 btn-tr">Find Users
            <div class="btn-description">Search and connect with other users.</div>
        </a>

    </div>

    <div class="btn-container">
        <a href="/sessions" class="btn btn-success mb-3 btn-tr">Training Sessions
            <div class="btn-description">Explore and join training sessions.</div>
        </a>

    </div>

    <div class="btn-container">
        <a href="/stat" class="btn btn-success mb-3 btn-tr">Statistics and Analysis
            <div class="btn-description">View your improvements.</div>
        </a>

    </div>

    <div class="btn-container">
        <a href="/register-training" class="btn btn-success mb-3 btn-tr">Register for training
            <div class="btn-description">Find and register for classes.</div>
        </a>
    </div>

</div>
