
/* Main */

body {


}

/* Center the navbar items when isAffiliateOwner is true */
.navbar-nav.mx-auto {
    flex: 1;
    display: flex;
    justify-content: center;
}

/* Align the right navbar items to the right */
.navbar-nav.ms-auto {
    margin-left: auto !important;
}

/* Optional: Adjust spacing between navbar items */
.navbar-nav .nav-item {
    margin: 0 10px;
}


.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://images.unsplash.com/photo-1517838277536-f5f99be501cd?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(2px);
    z-index: -1;
}

h1, h2, h3 {
    color: #343a40;
}

.btn-prof:hover {
    background: lightseagreen;
}

.navbar-custom {

    /* Center the navbar items */
    .navbar-center {
        flex-grow: 1;
        display: flex;
        justify-content: center;
    }

    /* Adjust the navbar items spacing */
    .navbar-center .nav-item {
        margin: 0 10px;
    }

    /* Ensure the navbar-brand and collapse button are aligned */
    .navbar .navbar-brand {
        margin-right: 20px;
    }


}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
    color: #ffffff;
}

.navbar .container-fluid {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
}


.navbar-center {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
}


.navbar-left, .navbar-right {
        display: flex;
        align-items: center;
}

.navbar {
        padding: 0;
        height: 64px;
}

.navbar-logo {
        height: 100%;
        max-height: 64px;
}

.navbar-collapse {
    position: absolute;
    flex-basis: auto;
    top: 100%;
    right: 0;
    flex-direction: column;
    display: none;
    width: 50%;
    margin-left: 10px;
    z-index: 1;
}

.navbar-toggler {
    z-index: 1;
    position: absolute;
    right: 10px;
}

.navbar-collapse.show {
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 10px 0;
}

.navbar-collapse.collapse.show {
    background-color: black;
    padding: 10px 0;
}

.navbar-nav {
    width: 100%;
    margin: 0;
    padding: 0;

}

.nav-item {
    width: 200px;
    text-align: center;
    margin: 5px 0;

}

#logout-btn,
.nav-link[href="/profile"] {
    display: block;
    color: white;

}

.nav-item .btn {
    width: 100%;
    text-align: center;

}

.nav-link {
    justify-items: center;
}

@media (min-width: 769px) {
    .navbar-toggler {
        display: none;
    }

    .navbar-collapse {
        position: static;
        display: flex !important;
        flex-direction: row;
        justify-content: flex-end;
        background-color: transparent;
        padding: 0;
    }

    .navbar-nav {
        flex-direction: row;
        width: auto;
    }


    .nav-item {
        width: auto;
        margin-left: 15px;
        text-align: center;
    }

    #logout-btn,
    .nav-link[href="/profile"] {
        color: white;
    }
}

/* login and register page */

.role-button {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}


/* Home page */
.btn-tr {
    padding: 10px 20px;
    font-size: 20px;
    height: 50px;
    cursor: pointer;
    width: 100% !important;
    display: block;
    border-radius: 5px;
    background: #008080;
    transition: all 0.5s ease;


}

.btn-tr:hover {
    background: lightseagreen;
    height: 100px;

    transition: all 0.5s ease;
    align-content: center;
}

.btn-container {
    position: relative;

}

.btn-description {
    opacity: 0;
    transition: opacity 0.3s ease;
    font-size: 12px;
    margin-top: 5px;
    color: white;
    text-align: center;
}

.btn-container:hover .btn-description {
    opacity: 1;
}

.home {

    margin-top: 20px;
}


.btn-danger.btn-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
}

/* login and register page */
.container {
    max-width: 2000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80%;
    opacity: 0.9;
}


.container h2 {
    text-align: center;
    margin-bottom: 20px;
}

#login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

#register-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

#submit-btn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#submit-btn:hover {
    background-color: #0056b3;
}


.container p {
    text-align: center;
    margin-top: 15px;
}

.container-reg{
    max-width: 1000px !important;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100% !important;
    display: block;
}
 /* training sessions */



.legend-item {
    display: inline-block;
    margin-right: 15px;
}

.legend-color {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    vertical-align: middle;
}
#calendar {
    max-width: 900px;
    margin: 0 auto;
}

/* Profile page */

.card{
    opacity: 0.9;
}

/* record page */

#records-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.record-item {
    width: 150px;
    height: 150px;
    background: lightslategray;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    text-align: center;
    flex-direction: column;
}

/* training page */
#wod-search {
    border: 1px solid #ced4da;
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 16px;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    outline: none;
    transition: box-shadow 0.3s ease;
}

#wod-search:focus {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-color: #80bdff;
}

#wod-search-results {
    position: absolute;
    z-index: 1000;
    width: 100%;
    background-color: white;
    border: 1px solid #ced4da;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-height: 200px;
    overflow-y: auto;
    padding: 0;
    list-style: none;
}

#wod-search-results .list-group-item {
    padding: 10px 15px;
    cursor: pointer;
}

#wod-search-results .list-group-item:hover {
    background-color: #f8f9fa;
}


/* statistics page */

.tabs {
    margin-bottom: 20px;
}
.tab-button {
    padding: 10px;
    margin-right: 5px;
    cursor: pointer;
}
.tab-button.active {
    background-color: #007bff;
    color: white;
}
.tab-content {
    display: none;
}
.tab-content.active {
    display: block;
}

#monthly-goal-input {
    width: 50px;
}

/* plans page */

.plan-button {
    width: 200px;
    height: 200px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.plan-button h4 {
    margin-bottom: 10px;
}

.plan-button p {
    margin: 0;
    font-size: 18px;
}