body {
    background-color: #f8f9fa;
}

h1, h2, h3 {
    color: #343a40;
}

.navbar-custom {
    background-color: #343a40;


}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
    color: #ffffff;

}
.btn-tr {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    width: 100% !important;
    display: block;
    border-radius: 5px;


}


.btn-danger.btn-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
}


.home {

    margin-top: 20px;
}