
/* Main */

body {
    background-color: #f8f9fa;
}

h1, h2, h3 {
    color: #343a40;
}

.navbar-custom {



}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
    color: #ffffff;
}

.navbar .container-fluid {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
}


.navbar-center {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
}


.navbar-left, .navbar-right {
        display: flex;
        align-items: center;
}

.navbar {
        padding: 0;
        height: 64px;
}

.navbar-logo {
        height: 100%;
        max-height: 64px;
}

.navbar-collapse {
    position: absolute;
    flex-basis: auto;
    top: 100%;
    right: 0;
    flex-direction: column;
    display: none;
    width: 50%;
    margin-left: 10px;
    z-index: 1;
}

.navbar-toggler {
    z-index: 1;
    position: absolute;
    right: 10px;
}

.navbar-collapse.show {
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 10px 0;
}

.navbar-collapse.collapse.show {
    background-color: black;
    padding: 10px 0;
}

.navbar-nav {
    width: 100%;
    margin: 0;
    padding: 0;

}

.nav-item {
    width: 200px;
    text-align: center;
    margin: 5px 0;

}

#logout-btn,
.nav-link[href="/profile"] {
    display: block;
    color: white;

}

.nav-item .btn {
    width: 100%;
    text-align: center;

}

.nav-link {
    justify-items: center;
}

@media (min-width: 769px) {
    .navbar-toggler {
        display: none;
    }

    .navbar-collapse {
        position: static;
        display: flex !important;
        flex-direction: row;
        justify-content: flex-end;
        background-color: transparent;
        padding: 0;
    }

    .navbar-nav {
        flex-direction: row;
        width: auto;
    }


    .nav-item {
        width: auto;
        margin-left: 15px;
        text-align: center;
    }

    #logout-btn,
    .nav-link[href="/profile"] {
        color: white;
    }
}

/* Home page */
.btn-tr {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    width: 100% !important;
    display: block;
    border-radius: 5px;


}

.home {

    margin-top: 20px;
}


.btn-danger.btn-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
}

/* login and register page */
.container {
    max-width: 2000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 80%;
}


.container h2 {
    text-align: center;
    margin-bottom: 20px;
}

#login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

#register-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

#submit-btn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#submit-btn:hover {
    background-color: #0056b3;
}


.container p {
    text-align: center;
    margin-top: 15px;
}

.container-reg{
    max-width: 1000px !important;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100% !important;
    display: block;
}
